<div class="principal">
    <h1 class="jumbotron">List of Peoples</h1>

    <table class="table table-bordered table-condensed">
        <tr>
            <th>
                <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
                    Name
                    <span ng-show="orderByField == 'name'">
                        <span ng-show="!reverseSort" class="fa fa-sort-alpha-asc"></span>
                        <span ng-show="reverseSort" class="fa fa-sort-alpha-desc"></span>
                </span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='hair'; reverseSort = !reverseSort">
                    Hair Color
                    <span ng-show="orderByField == 'hair'">
                        <span ng-show="!reverseSort" class="fa fa-sort-alpha-asc"></span>
                        <span ng-show="reverseSort" class="fa fa-sort-alpha-desc"></span>
                    </span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='height'; reverseSort = !reverseSort">
                    Height
                    <span ng-show="orderByField == 'height'">
                        <span ng-show="!reverseSort" class="fa fa-sort-alpha-asc"></span>
                        <span ng-show="reverseSort" class="fa fa-sort-alpha-desc"></span>
                    </span>
                </a>
            </th>
        </tr>

        <tr ng-repeat="people in peoples | orderBy:orderByField:reverseSort">
            <td>{{people.name}}</td>
            <td>{{people.hair_color}}</td>
            <td>{{people.height}}</td>
        </tr>
    </table>
    <ul class="pagination">
    <li class="page-item">
        <a class="page-link" href="#" ng-click="anterior()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item numeration {{$index === 0 ? 'active' : ''}}" id="{{$index + 1}}" ng-click="active($index + 1)" ng-repeat="i in getNumber(tamanhoMaximo) track by $index">
        <a class="page-link"  href="#">{{$index + 1}}</a>
    </li>
    <li class="page-item">
        <a class="page-link" ng-click="proximo()" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>
</div>